#preview {
  position: relative;
  width: 595px;
  height: 842px;
  transform-origin: 0 0;
  border: 1px solid $dark-color;
}

#preview-wrapper {
  overflow: hidden;
}

.preview-controls {
  display: flex;
  height: 30px;
  padding: 2px 30px 2px 0;
}

.preview-scroll-wrapper {
  overflow-y: scroll;
  height: calc(100vh - 80px);
}

#scale-selector {
  margin-left: auto;
}

#update-button {
  margin-right: 10px;
}
