@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
@import './variables';

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
}

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.page-header {
  overflow: hidden;
}

.page-title {
  height: 50px;
  margin: 0;
  line-height: 50px;
}

.container {
  margin-bottom: 50px;
}

.editors-column {
  float: left;
  width: 49%;
  height: calc(100vh - 50px);
}

.preview-column {
  float: right;
  width: 49%;
}

.editors-container {
  height: calc(100% - 30px);
}

.editor__title {
  display: flex;
  align-items: center;
  height: 30px;
  margin: 0;
  padding: 3px 29px;
  font-size: $font-medium;
  color: $color-gray-1;
  border-top: 4px solid $color-gray-7;
  border-bottom: 1px solid $color-gray-7;
  background: $color-gray-10;

  &#styles-editor-header {
    cursor: row-resize;
  }
}

.editor {
  &.transiton {
    transition: height 300ms;
  }
}

.CodeMirror {
  height: 100%;
}

#preview {
  width: 595px;
  height: 842px;
  transform-origin: 0 0;
  border: 1px solid $dark-color;
}

#preview-wrapper {
  overflow: hidden;
}

.preview-controls {
  height: 30px;
}
