$dark-color: #172436;
$light-color: #f8fafd;
$editor-background: #263238;
$color-gray-1: #dfe2e8;
$color-gray-5: #849fac;
$color-gray-6: #687d87;
$color-gray-7: #4c585e;
$color-gray-8: $editor-background;
$color-gray-10: #182024;
$font-small: 16px;
$font-medium: 18px;
$font-big: 24px;
$font-extra-big: 30px;
